@font-face {
    font-family: 'Montserrat';
    src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey';
    src: url(Fonts/Jersey_10/Jersey10-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    --background: #26262c;
    --primary: #73f440;
    --secondary: #a9afb5;
    --gradient: linear-gradient(90deg, #73f440, #a9afb5);
    --font-sans: 'Jersey';
    --font-serif: 'Montserrat';
    background: var(--background);
    color: var(--secondary);
}

body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-toggle {
    display: none;
}

.header-text {
    font-family: var(--font-sans), sans-serif;
    font-size: 8rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 14rem;
    margin-bottom: 0;
    transition: color 0.2s ease;
    color: var(--primary);
}

.header-block h4 {
    font-family: var(--font-sans), sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 0;
    transition: color 0.2s ease;
    color: var(--primary);
}

.header-block {
    text-align: center;
}

.navbar {
    font-family: var(--font-sans);
    display: flex;
    align-items: center;
    background-color: var(--background);
    margin-top: 2rem;
}

.nav-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    text-transform: uppercase;
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 48px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary);
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2rem;
}

.arrow span {
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--primary);
    animation: moveDown 1s infinite;
}

.arrow span:nth-child(1) { animation-delay: 0s; }
.arrow span:nth-child(2) { animation-delay: 0.2s; }
.arrow span:nth-child(3) { animation-delay: 0.4s; }

@keyframes moveDown {
    0% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(10px); opacity: 0.5; }
    100% { transform: translateY(20px); opacity: 0; }
}

.project-covers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 15rem;
}

.bergo_cover {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.slides img {
    max-width: 100%;
    margin: 10px 0;
    border-radius: 20px;
}

.footer {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.footer p {
    font-family: var(--font-sans);
    font-size: 2rem;
}

#pdfContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

embed {
    margin-top: 10rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 90vh;
    border: none;
}

#pdf-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

canvas {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toolbar {
    display: none;
}

p.PDF {
    font-family: var(--font-serif);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    color: var(--secondary);
    transition: color 0.3s ease;
}

p {
    font-family: var(--font-serif);
    margin-bottom: 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-top: 10rem;
}

.mast-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 35rem;
    margin: 0 auto;
    margin-top: 3rem;
    line-height: 30px;
}

.footer-nav a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 2rem;
  transition: color 0.3s ease;
  font-family: var(--font-sans);
  text-decoration: none;
  list-style: none;  
}

.footer-nav a:hover {
    color: var(--primary);
}

.footer ul {
  list-style-type: none;
}

.me {
  max-width: 400px;
  max-height: 700px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-family: var(--font-sans);
  font-size: 2.5rem;
  color: var(--primary);
  letter-spacing: 3px;
}

.about-me {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 3rem;
}

.about-header {
    font-size: 2.5rem;
    color: var(--primary);
    font-family: var(--font-sans);
    text-align: center;
    margin-top: 5rem;
}

.about-text {
  font-family: var(--font-serif);
  max-width: 40vw;
  line-height: 30px;
}

@media screen and (min-width: 1800px) {

  .about-text {
    font-family: var(--font-serif);
    max-width: 30vw;
    line-height: 30px;
  }

  .about-me {
    margin-top: 3rem;
  }

  .me {
    max-height: 600px
  }

  #resume-divider {
    display: flex;
    width: 35%;
    height: 2px;
    background-color: var(--primary);
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

}


.section-divider {
    width: 65%;
    height: 2px;
    background-color: var(--primary);
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.games, .movies, .books {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.movies img,
.books img,
.games img {
  width: 300px;
  height: 418px;
  object-fit: cover;
  margin-bottom: 50px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form label {
  font-family: var(--font-serif);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--secondary);
}

.contact-form input,
.contact-form textarea {
  font-family: var(--font-serif);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

.contact-form button {
    background: var(--primary);
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-family: var(--font-serif);
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background 0.3s ease-in-out;
}

.contact-form button:hover {
    background: #4a9b26;
}

.resume_button {
  display: flex;
  justify-content: center;
}

.download_resume {
  background: var(--primary);
  color: black;
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  font-family: var(--font-serif);
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  display: inline-block;
  width: auto;
  text-align: center;
  margin-bottom: 5rem;
}

.download_resume:hover {
  background-color: #4a9b26;
}


.image-hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-hover-effect:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.socials img {
  max-width: 100px;
  max-height: 100px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 2rem;
}

.resume h3 {
  text-align: left;
  margin-bottom: 0;
  font-family: var(--font-sans);
  margin-top: 0;
  font-size: 41px;
}

.resume-header {
  font-family: var(--font-sans);
  margin: 0 auto;
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary);
  margin-top: 5rem;
  margin-bottom: 0;
}

.resume-name {
    margin: 0 auto;
    width: 50rem;
}

.resume-education {
  font-family: var(--font-serif);
  width: 50rem;
  margin: 0 auto;
}

.resume-skills {
  font-family: var(--font-serif);
  width: 50rem;
  margin: 0 auto; 
}

.resume-experience {
  font-family: var(--font-serif);
  width: 50rem;
  margin: 0 auto; 
}

.resume-experience2 {
  font-family: var(--font-serif);
  width: 50rem;
  margin: 0 auto; 
}

#contact-divider {
  display: flex;
    width: 50%;
    height: 2px;
    background-color: var(--primary);
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

.resume-skills h3 {
  font-family: var(--font-sans);
  font-size: 41px;
}

.bergo_CS, .league_CS {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 5rem;
    position: relative;
    overflow: hidden;
}

.league_CS {
    border-top:  3px solid #0A1428;
}

.bergo_CS {
    border-top: 3px solid #FF464A;
}

.league_CS h1 {
    font-size: 2.5rem;
    font-family: var(--font-serif);
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 2.5rem;
}

.bergo_CS h1 {
    font-size: 2.5rem;
    font-family: var(--font-serif);
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 2.5rem;
}

.league_CS p {
    text-align: left;
    color: white;
    font-family: var(--font-serif);
    width: 65%;
    margin: 0 auto;
    margin-top: 2rem;
}

.bergo_CS p {
    text-align: left;
    color: white;
    font-family: var(--font-serif);
    width: 65%;
    margin: 0 auto;
    margin-top: 2rem;
}

.league_CS h2 {
    color: white;
    font-family: var(--font-serif);
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.bergo_CS h2 {
    color: white;
    font-family: var(--font-serif);
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.league_CS .buttons {
    text-align: center;
    margin: 0;
}

.bergo_CS .buttons {
    text-align: center;
    margin: 0;
}

.case_study {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.bergo_problem, .bergo_role, .bergo_tech, .bergo_outcome,  .league_problem, .league_role, .league_tech, .league_outcome{
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 350px;
  border-radius: 15px;
  padding: 10px 15px;
  margin-top: 2rem;
  transition: border-color 0.6s ease;
}

.bergo_problem, .bergo_role, .bergo_tech, .bergo_outcome {
  border-top: 3px solid #FF464A;
}

.league_problem, .league_role, .league_tech, .league_outcome {
  border-top: 3px solid #0A1428;
}


.bergo_problem::before,
.bergo_role::before,
.bergo_tech::before,
.bergo_outcome::before, .bergo_CS::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #FF464A, var(--background));
  opacity: 0.1;
  transition: opacity 0.6s ease;
  z-index: 0;
  border-radius: 15px;
}

.league_problem::before,
.league_role::before,
.league_tech::before,
.league_outcome::before, .league_CS::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0A1428, var(--background));
  opacity: 0.3;
  transition: opacity 0.6s ease;
  z-index: 0;
  border-radius: 15px;
}

.league_problem:hover::before,
.league_role:hover::before,
.league_tech:hover::before,
.league_outcome:hover::before {
  opacity: 1;
}

.bergo_problem:hover::before,
.bergo_role:hover::before,
.bergo_tech:hover::before,
.bergo_outcome:hover::before {
  opacity: 0.5;
}

.league_problem > *, 
.league_role > *, 
.league_tech > *, 
.league_outcome > *,
.league_CS > * {
  position: relative;
  z-index: 1;
}

.bergo_problem > *, 
.bergo_role > *, 
.bergo_tech > *, 
.bergo_outcome > *,
.bergo_CS > * {
  position: relative;
  z-index: 1;
}

.case_study h1 {
    font-family: var(--font-serif);
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 0;
}

.case_study p {
    color: white;
    font-family: var(--font-serif);
    font-size: 1rem;
    line-height: 30px;
}

.bergo_image {
    width: 812px;
    height: 500px;
    background: #FF464A;
    border-radius: 5px;
    transition: filter 0.6s ease, box-shadow 0.6s ease;
    filter: grayscale(100%);
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
}

.bergo_image::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('Graphics/bergo_cover.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
}

.bergo_image > * {
    position: relative;
    z-index: 1;
}

.bergo_image:hover {
    filter: grayscale(0%);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}


.bergo_image h4 {
    font-family: var(--font-serif);
    font-size: 3rem;
    color:  white;
    width: 600px;
    margin:  0 auto;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}

.bergo_goal {
    font-family: var(--font-serif);
    font-size: 21px;
    width: 600px;
    margin:  0 auto;
    color: white;
    text-align: left;
}

.bergo_solo {
    font-family: var(--font-serif);
    font-size: 21px;
    width: 600px;
    text-align: left;
    margin:  0 auto;
    color: white;
    margin-top: 7rem;
}

.league_image h4 {
    font-family: var(--font-serif);
    font-size: 3rem;
    color:  white;
    width: 600px;
    margin:  0 auto;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}

.league_image {
    width: 812px;
    height: 500px;
    border-radius: 5px;
    background: #0A1428;
    transition: filter 0.6s ease, box-shadow 0.6s ease;
    filter: grayscale(100%);
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
}

.league_image::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('Graphics/league_cover.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* 20% opacity */
    z-index: 0;
}

.league_image > * {
    position: relative;
    z-index: 1;
}

.league_image:hover {
    filter: grayscale(0%);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.front_buttons {
  background: white;
  color: black;
  border: 2px solid black;
  padding: 10px 15px;
  font-size: 18px;
  font-family: var(--font-serif);
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 200px;
  height: 40px;
  transition: background 0.3s ease-in-out;
}

.buttons {
    margin-left: 7rem;
}

.buttons button:hover {
    background: gray;
}

a {
    text-decoration: none;
}

h5 {
    margin: 0 auto;
    font-family: var(--font-serif);
    width: 600px;
    text-align: left;
    color: white;
    margin-top: 0.5rem;
}

.case-study-hero {
    width: 80%;
    height: 300px;
    border-radius: 5px;
    background: #FF464A;
    margin-bottom: 3rem;
    margin: 0 auto;
    margin-top: 3rem;
    font-family: var(--font-serif);
    color: white;
}

.carousel-container {
    display: none;
}

.contact-header {
    font-size: 2.5rem;
    font-family: var(--font-sans);
    color: var(--primary);
    text-align: center;
    margin-top: 5rem;
}


@media screen and (max-width: 768px) {

    .movies, .books, .games {
        display: none;
    }

    .contact-header {
        font-size: 7rem;
    }

  .nav-block {
    padding: 1rem;
    position: relative;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .menu-toggle {
    background: transparent;
    border: none;
    color: var(--primary);
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem;
    display: block;
    position: absolute;
    z-index: 100;
    right: 1rem;
    margin-top: 3rem;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 2rem;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: #222;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
  }

  .nav-links[data-visible="true"] {
    transform: translateX(0);
  }

  .nav-links li {
    padding: 1rem 0;
    border-bottom: 1px solid #444;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s ease;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
  }

  .overlay[data-visible="true"] {
    display: block;
  }

  .project-covers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
  }

  .bergo_image,
  .league_image {
    width: 95%;
    height: 500px;
    filter: grayscale(0%);
  }

  .league_image h4,
  .bergo_image h4,
  .bergo_solo,
  .league_solo {
    text-align: center;
  }

  .bergo_goal,
  .league_goal {
    font-size: 20px;
    max-width: 90%;
  }

  .buttons {
    text-align: center;
    margin: 0;
  }

  .front_buttons {
    background: white;
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    font-size: 15px;
    font-family: var(--font-serif);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    width: 175px;
    height: 50px;
    transition: background 0.3s ease-in-out;
  }

  .header-text {
    font-family: var(--font-sans), sans-serif;
    font-size: 7rem;
    font-weight: bold;
    display: inline-block;
    max-width: 90%;
    margin-top: 10rem;
    margin-bottom: 0;
    transition: color 0.2s ease;
    color: var(--primary);
  }

  .arrow {
    margin-bottom: 10rem;
  }

  .resume-header {
    font-size: 8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
  }

  .resume h3 {
    text-align: left;
    width: 40rem;
    margin:  0 auto;
    margin-bottom: 2rem;
  }

  .footer p {
    text-align: center !important;
  }

  .resume p {
    text-align: left;
    width: 40rem;
    margin: 0 auto;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .resume h4 {
    text-align: left;
    width: 40rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: var(--font-sans);
  }

  .section-divider {
        width: 95%;
        height: 2px;
        background-color: var(--primary);
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .about-text {
        max-width: 90%;
        margin: 0 auto;
    }

    .about-me {
        display: block;
    }

    .me {
        display: none;
    }

    .about-header {
        font-size: 7rem;
        font-family: var(--font-sans);
        color: var(--primary);
        text-align: center;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

        .carousel-container {
          position: relative;
          overflow: hidden;
          max-width: 500px;
          margin: 2rem auto;
          display: block;
     }

    .carousel-track {
      display: flex;
      transition: transform 0.4s ease;
      will-change: transform;
    }

    .carousel-image {
      min-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }

    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0,0,0,0.5);
      border: none;
      color: white;
      font-size: 2rem;
      padding: 0.5rem;
      cursor: pointer;
      z-index: 10;
    }

    .carousel-button.prev {
      left: 10px;
    }

    .carousel-button.next {
      right: 10px;
    }

      .carousel-button {
        font-size: 1.5rem;
        padding: 0.3rem;
    }

}

